body {
  margin: 0;
  background: url("./assets/showdown/header.png") no-repeat center center;
  background-size:250%;
  width: 500vw;
  height: 100vh;
  overflow:hidden;
}
canvas {
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}
